@charset "UTF-8";

body {
    background-image: url(../imagens/landscape.jpg);
}
#container {
    width: 50%;
    background-color: rgba(173, 216, 230, 0.534);
    color: blue;
    font-weight: bolder;
}
p > a {
    font-size: 2em;
    color: blue;
}
p > a:hover {
    color: lightblue;
}